<div class="container">
	<div class "row">
		<div class="col-lg-6">
			<!--legend>Find an account...</legend-->
			<div class="input-group">
			  <input type="text" ng-model="myAcct" class="form-control" placeholder="Find account...">
			  <span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="findAcct()">Find</button>
			  </span>
			</div><!-- /input-group -->
			<!--button class="btn btn-default" type="button" ng-click="addAcct()">add account</button-->
			<div class="container resAcct">
				<div ng-class="list ? 'col-md-6' : 'col-md-4'" class="accounts" ng-repeat="acct in accts" ng-click="setAcct(acct)"> 
					<h4 ng-class="list ? 'col-md-10' : 'col-md-12'">{{ acct.name }}</h4> 
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<!--legend>Find a customer...</legend-->
			<div class="input-group">
			  <input type="text" ng-model="myCust" class="form-control" placeholder="Find customer...">
			  <span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="findCust()">Find</button>
			  </span>
			</div><!-- /input-group -->
			<!--button class="btn btn-default" type="button" ng-click="addCust()">add customer</button-->
			<div class="container resCust">
				<div ng-class="list ? 'col-md-6' : 'col-md-4'" class="accounts" ng-repeat="cust in custs" ng-click="setCust(cust)"> 
					<h4 ng-class="list ? 'col-md-10' : 'col-md-12'">{{ cust.firstname }} {{ cust.lastname }}</h4> 
				</div>
			</div>
		</div><!-- /.col-lg-6 -->
	</div>
</div>
<!--button class="btn btn-default" type="button" ng-click="addQuest()">add question</button-->
<div class="container" ng-repeat="quest in quests" ng-init="outerIndex = $index">	
  <div class="jumbotron">
	<p>{{ quest.question }}</p>		
	  <div class="btn-group btn-group-justified">
	  
		<div ng-repeat="answerind in quest.answers" ng-init="innerIndex = $index" class="btn-group">
		  <button type="button" class="btn btn-primary">{{ quest.answers[innerIndex] }}</button>
		</div>

	  </div>
</div>